{% extends 'base.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
    <h1>Organisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AddressHq</th>
                <th>PostalCodeHq</th>
                <th>CityHq</th>
                <th>AddressInternship</th>
                <th>PostalCodeInternship</th>
                <th>CityInternship</th>
                <th>Website</th>
                <th>RespName</th>
                <th>RespFunction</th>
                <th>RespEmail</th>
                <th>RespPhone</th>
                <th>InsuranceName</th>
                <th>InsuranceContract</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.name }}</td>
                <td>{{ organisation.addressHq }}</td>
                <td>{{ organisation.postalCodeHq }}</td>
                <td>{{ organisation.cityHq }}</td>
                <td>{{ organisation.addressInternship }}</td>
                <td>{{ organisation.postalCodeInternship }}</td>
                <td>{{ organisation.cityInternship }}</td>
                <td>{{ organisation.website }}</td>
                <td>{{ organisation.respName }}</td>
                <td>{{ organisation.respFunction }}</td>
                <td>{{ organisation.respEmail }}</td>
                <td>{{ organisation.respPhone }}</td>
                <td>{{ organisation.insuranceName }}</td>
                <td>{{ organisation.insuranceContract }}</td>
                <td>
                    <a href="{{ path('app_organisation_show', {'id': organisation.id}) }}">show</a>
                    <a href="{{ path('app_organisation_edit', {'id': organisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organisation_new') }}">Create new</a>
{% endblock %}
